body {
    background: #00B9E6;
}
.calc_display_input {
    margin-bottom: 5px;
    width: 99%;
}
.wrapper-calc {
    float: left;
    margin: 100px 80px;
    padding: 10px 10px;
    width: 300px;
    border: 1px;
    border-color: #777;
    background: #fff;
}
.calc-button-1 {
   
}
.btn {
    margin-bottom: 5px;
     width: 24%;
}
.btn0 {
    margin-bottom: 5px;
    width: 49.3%;
}
